Package: com.github.airketchplayz.fakeshutoff
Name: FakeShutoff
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Yoshi Chill
Author: Yoshi Chill
Section: Tweaks
Installed-Size: 992	.
